{% extends "index.html" %}
{% block content %}
  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Home</div>
      <div class="bottom" aria-hidden="true">Home</div>
    </section>
  </div>

  <label class="classSelecteurLabel">Sélectionner la batterie</label>


    <div class="classTitre">
      <select name="batterieSelect" id="batterieSelect" class="classSelecteur">
        <option value="plomb">Plomb</option>
        <option value="nicd">Ni-Cd</option>
        <option value="nimh">Ni-MH</option>
        <option value="lipo">Li-Po</option>
        <option value="life">Li-Fe</option>
        <option value="liion">Li-Ion</option>
        <option value="Lilo">li-Lo</option> 
      </select>
    </div>
  
    <hr>
    <div class="classTitre">
      <section class="wrapper" style="margin: 10px;">
        <div class="top">Prometheuse</div>
        <div class="bottom" aria-hidden="true">Prometheuse</div>
      </section>
    </div>

    
    <iframe  src="{{_prometheuse_ip}}"></iframe>


{% endblock %}
