{% extends "index.html" %}

{% block content %}

    <div class="classTitre">
        <section class="wrapper" style="margin: 10px;">
        <div class="top">Home</div>
        <div class="bottom" aria-hidden="true">Home</div>
        </section>
    </div>

    <label class="classSelecteurLabel">Sélectionner la batterie</label>
    <div>
      <select name="batterieSelect" id="batterieSelect" class="classSelecteur">
        <option value="plomb">Plomb</option>
        <option value="nicd">Ni-Cd</option>
        <option value="nimh">Ni-MH</option>
        <option value="lipo">Li-Po</option>
        <option value="life">Li-Fe</option>
        <option value="liion">Li-Ion</option>
        <option value="Lilo">li-Lo</option> 
      </select>
    </div>
    
    <div class="tab-pane fade in active classTable" id="div_mesures">
      <div class="classTitre">
        <section class="wrapper">
          <div class="top">Table</div>
          <div class="bottom" aria-hidden="true">Table</div>
        </section>
      </div>
      <table  id="tab_mesures"
          data-toggle="table"
          data-height="fit-content"
          data-width ="fit-content"
          data-pagination="true"
          data-show-columns="true"
          data-buttons-align="left">
        <thead>
          <tr>
            <th data-field="e" data-halign="center" data-align="center">Heure</th>
            <th data-field="t" data-halign="center" data-align="center">Température</th>
            <th data-field="h" data-halign="center" data-align="center">Tension</th>
          </tr>
        </thead>
      </table>
    </div>
</div>
{% endblock %}