<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Controleur batterie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <script src="static/jquery.min.js"></script>
    <script src="static/socket.io.min.js"></script>
    
    
    <link rel="stylesheet" href="static/Crimson_Pro.css">
    <link href="static/bootstrap_min.css" rel="stylesheet">


    <link rel="stylesheet" href="static/menu.css">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript">
    var adress = '{{_socketio_ip}}'
    </script>
    <script src="static/script_home.js"></script>
  </head>
  
  <body>
    <div class="Center_container">
      {% if _active == "multi" %}
        {% set  multi  = "menuclass active" %}
        {% set rela  = "menuclass" %}
        {% set prom  = "menuclass" %}
        {% set graf  = "menuclass" %}
        {% set  abou  = "menuclass" %}
      {% elif _active == "rela" %}
        {% set  multi  = "menuclass" %}
        {% set rela  = "menuclass active" %}
        {% set prom  = "menuclass" %}
        {% set graf  = "menuclass" %}
        {% set abou  = "menuclass" %}

      {% elif _active == "prom" %}
        {% set multi  = "menuclass" %}
        {% set rela  = "menuclass" %}
        {% set prom  = "active" %}
        {% set graf  = "menuclass" %}
        {% set abou  = "menuclass" %}

      {% elif _active == "graf" %}
        {% set multi  = "menuclass" %}
        {% set rela  = "menuclass" %}
        {% set prom  = "menuclass" %}
        {% set graf  = "menuclass active" %}
        {% set abou  = "menuclass" %}

      {% elif _active == "abou" %}
        {% set multi  = "menuclass" %}
        {% set rela  = "menuclass" %}
        {% set prom  = "menuclass" %}
        {% set graf  = "menuclass" %}
        {% set abou  = "menuclass active" %}
      {% endif %}

      <ul id="menu">
        
        <li class="{{multi}}"><a href="/flask/">Multimètre</a></li>
        <li class="{{rela}}"><a href="/flask/relay">Relais</a></li>
        <li class="{{prom}}"><a href="/flask/prometheuse">Prometheus</a></li>
        <li class="{{graf}}"><a href="/flask/grafana">Grafana</a></li>

        <li class="{{abou}}" style="float:right"><a href="/flask/about" id="#btMenuAbout">About</a></li>
      </ul>
      
      <div class="Center_container">
      
        <div class="classTitre">
          <section class="wrapperH1">
            <div class="top">Controleur de batterie</div>
            <div class="bottomH1" aria-hidden="true">Controleur de batterie</div>
          </section>
        </div>
        
        <div class="configuInput" style="margin-bottom: 20px;" >
          <h4 class="classMois" id="current_date"></h4>
          <h4 class="classHeure" id="current_time"></h4>
        </div>
      
        {% block content %}{% endblock %}

      </div>
    </div>
  </body>
</html>