<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Controleur batterie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" title="main">


    <link rel="stylesheet" href="static/menu.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script_home.js"></script>
  </head>
  
  <body>
    <div class="Center_container">
      <ul id="menu">
        <li><a href="/flask">Home</a></li>
        <li><a href="/flask/grafana">Grafana</a></li>
        <li><a href="/flask/relay">GPIO</a></li>
        <li><a href="/flask/settings">Settings</a></li>
        <li style="float:right"><a href="/flask/about" id="#btMenuAbout">About</a></li>
      </ul>
      
      <div class="Center_container">
      
        <div class="classTitre">
          <section class="wrapperH1">
            <div class="top">Controleur de batterie</div>
            <div class="bottomH1" aria-hidden="true">Controleur de batterie</div>
          </section>
        </div>
        
        <div class="configuInput" style="margin-bottom: 20px;" >
          <h4 class="classMois" id="current_date"></h4>
          <h4 class="classHeure" id="current_time"></h4>
        </div>
      
        {% block content %}{% endblock %}

      </div>
    </div>
  </body>
</html>
