{% extends "index.html" %}
{% block content %}
  <script src="static/gauge.js"></script>
  <script src="static/script_multimeter.js"></script>
  
  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Multimeter</div>
      <div class="bottom" aria-hidden="true">Multimeter</div>
    </section>
  </div>
  
  <div class="table-container">
    <table>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Valeurs de la batterie</legend>
                  <div class="configuInput">
                    <div>
                      <canvas id="chart_Tension_01"></canvas>
                      <p>Voltage: <span id="psu_voltage_01"/></p>
                    </div>
                    <div>

                      <p>Current: <span id="current_01"/></p>
                      <p>Power:   <span id="power_01"/></p>
                    </div>
                  </div>
              </fieldset>
            </td>
          </th>
          <td>
            <fieldset>
              <legend>Valeurs du circuit de charge</legend>
                <div class="configuInput">
                  <div>
                    <canvas id="chart_Tension_02"></canvas>
                    <p>Voltage: <span id="psu_voltage_02"/></p>
                  </div>
                  <div>
                    <p>Current: <span id="current_02"/></p>
                    <p>Power:   <span id="power_02"/></p>
                  </div>
              </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Valeurs du circuit de consommation</legend>
                  <div class="configuInput">
                    <div>
                      <canvas id="chart_Tension_03"></canvas>
                      <p>Voltage: <span id="psu_voltage_03"/></p>
                    </div>
                    <div>
                      <p>Current: <span id="current_03"/></p>
                      <p>Power:   <span id="power_03"/></p>
                    </div>
                  </div>
              </fieldset>
            </td>
          </th>
          <td>
            <fieldset>
              <legend>N° 4</legend>
                <div Class="configuInput">
                  <div>
                    <canvas id="chart_Tension_04"></canvas>
                    <p>Voltage: <span id="psu_voltage_04"/></p>
                  </div>
                  <div>
                    <p>Current: <span id="current_04"/></p>
                    <p>Power:   <span id="power_04"/></p>
                  </div>
                </div>
            </fieldset>
          </td>
        </tr>
    </table>
  </div>
{% endblock %}