{% extends "index.html" %}
{% block content %}
<script src="static/script_raspio.js"></script>

<div class="classTitre">
  <section class="wrapper" style="margin: 10px;">
    <div class="top">GPIO</div>
    <div class="bottom" aria-hidden="true">GPIO</div>
  </section>
</div>

<div class="configuInput" style="margin-bottom: 20px;" >
  <h2>Relay Switch 01</h2>
  <label class="switch">
    <input type="checkbox" id="rs_01" name="rs_01">
    <span class="slider"></span>
  </label><br><br>
</div>

<div class="configuInput" style="margin-bottom: 20px;" >
  <h2>Relay Switch 02</h2>
  <label class="switch">
    <input type="checkbox" id="rs_02" name="rs_02">
    <span class="slider"></span>
  </label><br><br>
</div>

<div class="configuInput" style="margin-bottom: 20px;" >
  <h2>Relay Switch 03</h2>
  <label class="switch">
    <input type="checkbox" id="rs_03" name="rs_03">
    <span class="slider"></span>
  </label><br><br>
</div>

<div class="configuInput" style="margin-bottom: 20px;" >
  <h2>Relay Switch 04</h2>
  <label class="switch">
    <input type="checkbox" id="rs_04" name="rs_04">
    <span class="slider"></span>
  </label><br><br>
</div>


{% endblock %}