{% extends "index.html" %}
{% block content %}
<script src="static/script_relay.js"></script>

<div class="classTitre">
  <section class="wrapper" style="margin: 10px;">
    <div class="top">Relay</div>
    <div class="bottom" aria-hidden="true">Relay</div>
  </section>
</div>

<div class="configuInput">
  <div class="configuInput">
    <input type="checkbox" class="class_box" id="au_ob" name="au_ob" value="Bike">
    <h4 for="au_ob">Observateur</h4>
  </div>
  <div class="configuInput">
    <input type="checkbox" class="class_box" id="au_pr" name="au_pr" value="Bike">
    <h4 for="au_pr">Protection </h4>
  </div>
  <div class="configuInput">
    <input type="checkbox" class="class_box" id="au_co" name="au_co" value="Bike">
    <h4 for="au_co">Consommation</h4>
  </div>
  <div class="configuInput">
    <input type="checkbox" class="class_box" id="au_ma" name="au_ma" value="Bike">
    <h4 for="au_ma">Manuel</h4>
  </div>
</div>

<div class="table-container">
  <table>
      <tr>
        <th scope="row">
          <td>
            <fieldset>
              <legend>Relay N°1</legend>
              <h3 id="etat_rs_01"></h3>
              <div class="configuInput" style="margin-bottom: 20px;" >
                <h2>Switch</h2>
                <label class="switch">
                  <input type="checkbox" id="rs_01" name="rs_01">
                  <span class="slider"></span>
                </label>
              </div>
            </fieldset>
          </td>
        </th>
        <td>
          <fieldset>
            <legend>Relay N°2</legend>
            <h3 id="etat_rs_02"></h3>
            <div class="configuInput" style="margin-bottom: 20px;" >
              <h2>Switch</h2>
              <label class="switch">
                <input type="checkbox" id="rs_02" name="rs_02">
                <span class="slider"></span>
              </label>
            </div>
          </fieldset>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <td>
            <fieldset>
              <legend>Relay N°3</legend>
              <h3 id="etat_rs_03"></h3>
              <div class="configuInput" style="margin-bottom: 20px;" >
                <h2>Switch</h2>
                <label class="switch">
                  <input type="checkbox" id="rs_03" name="rs_03">
                  <span class="slider"></span>
                </label>
              </div>
            </fieldset>
          </td>
        </th>
        <td>
          <fieldset>
            <legend>Relay N°4</legend>
            <h3 id="etat_rs_04"></h3>
            <div class="configuInput" style="margin-bottom: 20px;" >
              <h2>Switch</h2>
              <label class="switch">
                <input type="checkbox" id="rs_04" name="rs_04">
                <span class="slider"></span>
              </label>
            </div>
          </fieldset>
        </td>
      </tr>
  </table>
</div>

{% endblock %}