{% extends "index.html" %}

{% block content %}

  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Paramètres batteries</div>
      <div class="bottom" aria-hidden="true">Paramètres batteries</div>
    </section>
  </div>
  
  <div class="table-container">
    <table>
        <tr>
          <th scope="row">
            <fieldset>
              <legend>Plomb</legend>
                <p>Minimum tension: <span id="plombMin"></span></p>
                <p>Maximum tension: <span id="plombMax"></span></p>
            </fieldset>
          </th>
          <td>
            <fieldset>
              <legend>Ni-Cd</legend>
              <p>Minimum tension: <span id="nicdMin"></span></p>
              <p>Maximum tension: <span id="nicdMax"></span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <fieldset>
              <legend>Ni-MH</legend>
              <p>Minimum tension: <span id="nimhMin"></span></p>
              <p>Maximum tension: <span id="nimhMax"></span></p>
            </fieldset>
          </th>
          <td>
            <fieldset>
              <legend>li-Po</legend>
              <p>Minimum tension: <span id="lipoMin"></span></p>
              <p>Maximum tension: <span id="lipoMax"></span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <fieldset>
              <legend>Li-Fe</legend>
              <p>Minimum tension: <span id="lifeMin"></span></p>
              <p>Maximum tension: <span id="lifeMax"></span></p>
            </fieldset>
          </th>
          <td>
            <fieldset>
              <legend>li-Ion</legend>
              <p>Minimum tension: <span id="liionMin"></span></p>
              <p>Maximum tension: <span id="liionMax"></span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <fieldset>
              <legend>Li-Lo</legend>
              <p>Minimum tension: <span id="liloMin"></span></p>
              <p>Maximum tension: <span id="liloMax"></span></p>
            </fieldset>
          </th>
          <td>

          </td>
        </tr>
    </table>
  </div>
{% endblock %}
