{% extends "index.html" %}
{% block content %}
  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Paramètres batteries</div>
      <div class="bottom" aria-hidden="true">Paramètres batteries</div>
    </section>
  </div>
  
  <div class="table-container">
    <table>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Plomb</legend>
                  <p>Minimum tension: <span>{{plombMin}} [v]</span></p>
                  <p>Maximum tension: <span>{{plombMax}} [v]</span></p>
              </fieldset>
            </td>
          </th>
          <td>
            <fieldset>
              <legend>Ni-Cd</legend>
              <p>Minimum tension: <span>{{nicdMin}} [v]</span></p>
              <p>Maximum tension: <span>{{nicdMax}} [v]</span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Ni-MH</legend>
                <p>Minimum tension: <span>{{nimhMin}} [v]</span></p>
                <p>Maximum tension: <span>{{nimhMax}} [v]</span></p>
              </fieldset>
            </td>
          </th>
          <td>
            <fieldset>
              <legend>li-Po</legend>
              <p>Minimum tension: <span>{{lipoMin}} [v]</span></p>
              <p>Maximum tension: <span>{{lipoMax}} [v]</span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Li-Fe</legend>
                <p>Minimum tension: <span>{{lifeMin}} [v]</span></p>
                <p>Maximum tension: <span>{{lifeMax}} [v]</span></p>
              </fieldset>
            </td>
          </th>
          <td>
            <fieldset>
              <legend>li-Ion</legend>
              <p>Minimum tension: <span>{{liionMin}} [v]</span></p>
              <p>Maximum tension: <span>{{liionMax}} [v]</span></p>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <td>
              <fieldset>
                <legend>Li-Lo</legend>
                <p>Minimum tension: <span>{{liloMin}} [v]</span></p>
                <p>Maximum tension: <span>{{liloMax}} [v]</span></p>
              </fieldset>
            </td>
          </th>
          <td>

          </td>
        </tr>
    </table>
  </div>
{% endblock %}
