<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Controleur batterie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div>
      <ul id="menu">
        <li><a id="btMenuBatterie">Batterie</a></li>
        <li><a id="btMenuBatterie">Graphique</a></li>
        <li><a id="btMenuSettings">Settings</a></li>
        <li style="float:right"><a id="#btMenuAbout">About</a></li>
      </ul>

      <div class="Center_container">

        <div class="classTitre">
          <section class="wrapperH1">
            <div class="top">Controleur de batterie</div>
            <div class="bottomH1" aria-hidden="true">Controleur de batterie</div>
          </section>
        </div>

        <div class="centered">

          <div class="configuInput" style="margin-bottom: 20px;" >
            <h4 class="classMois" id="current_date"></h4>
            <h4 class="classHeure" id="current_time"></h4>
          </div>

          <div class="configuInput">
            <div class="configuInput">
                <div style="margin-right: 50px;" id="chart_Tension"></div>
                <div id="chart_Temp"></div>
            </div>
          </div>

          <div class="classTitre">
            <section class="wrapper" style="margin: 10px;">
              <div class="top">Paramètres batteries</div>
              <div class="bottom" aria-hidden="true">Paramètres batteries</div>
            </section>
          </div>
          
          <table>
              <tr>
                <th scope="row">
                  <fieldset>
                    <legend>Plomb</legend>
                      <p>Minimum tension: <span id="plombMin"></span></p>
                      <p>Maximum tension: <span id="plombMax"></span></p>
                  </fieldset>
                </th>
                <td>
                  <fieldset>
                    <legend>Ni-Cd</legend>
                    <p>Minimum tension: <span id="nicdMin"></span></p>
                    <p>Maximum tension: <span id="nicdMax"></span></p>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <fieldset>
                    <legend>Ni-MH</legend>
                    <p>Minimum tension: <span id="nimhMin"></span></p>
                    <p>Maximum tension: <span id="nimhMax"></span></p>
                  </fieldset>
                </th>
                <td>
                  <fieldset>
                    <legend>li-Po</legend>
                    <p>Minimum tension: <span id="lipoMin"></span></p>
                    <p>Maximum tension: <span id="lipoMax"></span></p>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <fieldset>
                    <legend>Li-Fe</legend>
                    <p>Minimum tension: <span id="lifeMin"></span></p>
                    <p>Maximum tension: <span id="lifeMax"></span></p>
                  </fieldset>
                </th>
                <td>
                  <fieldset>
                    <legend>li-Ion</legend>
                    <p>Minimum tension: <span id="liionMin"></span></p>
                    <p>Maximum tension: <span id="liionMax"></span></p>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <fieldset>
                    <legend>Li-Lo</legend>
                    <p>Minimum tension: <span id="liloMin"></span></p>
                    <p>Maximum tension: <span id="liloMax"></span></p>
                  </fieldset>
                </th>
                <td>

                </td>
              </tr>
          </table>
        </div>
      </div>
  </div>
  </body>
</html>
