prometheus_client==0.21.1 --pre

# recupérer les info du pc
psutil==7.0.0 --pre

#pour les gpio
lgpio==0.2.2.0 --pre
board==1.0 --pre
adafruit-circuitpython-ina219==3.4.26 --pre
gpiod==2.3.0 --pre

# pour la communication avec le server
requests==2.32.3