{% extends "index.html" %}
{% block content %}
  <script src="static/script_about.js"></script>

  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Raspberry</div>
      <div class="bottom" aria-hidden="true">Raspberry</div>
    </section>
  </div>  

  <p>Status: <span id="val_systmeStatus"></span></p>
  <hr>
  <p>Temperature CPU: <span id="val_Temp"></span></p>
  <p>Usage CPU: <span id="val_Usage"></span></p>
  <p>Volts Core: <span id="val_Core"></span></p>
  <hr>
  <p>Ram percent: <span id="val_RamPercent"></span></p>
  <p>Ram used: <span id="val_RamUsed"></span></p>
  <p>Ram free: <span id="val_RamFree"></span></p>
  <p>Ram total: <span id="val_RamTotal"></span></p>
  <hr>
  <p>Disk percent: <span id="val_DiskPerc"></span></p>
  <p>Disk used: <span id="val_DiskUsed"></span></p>
  <p>Disk free: <span id="val_DiskFree"></span></p>
  <p>Disk total: <span id="val_DiskTotal"></span></p>
  <hr>
  <button class="classButton" id="raspberryReboot">Reboot</button>
  <button class="classButton" id="raspberryShutdown">Shutdown</button>
{% endblock %}