{% extends "index.html" %}

{% block content %}
  <div class="classTitre">
    <section class="wrapper" style="margin: 10px;">
      <div class="top">Raspberry</div>
      <div class="bottom" aria-hidden="true">Raspberry</div>
    </section>
  </div>  

  <p>Status: <span id="val_systmeStatus"></span></p>
  <p>Temperature CPU: <span id="val_TempRapberry"></span></p>
  <p>Usage CPU: <span id="val_UsageRapberry"></span></p>
  <p>Volts Core: <span id="val_CoreRapberry"></span></p>
  <p>Ram total: <span id="val_RamTotalRapberry"></span></p>
  <p>Ram used: <span id="val_RamUsedRapberry"></span></p>
  <p>Ram free: <span id="val_RamFreeRapberry"></span></p>
  <p>Disk total: <span id="val_DiskTotalRapberry"></span></p>
  <p>Disk free: <span id="val_DiskFreeRapberry"></span></p>
  <p>Disk pourcent: <span id="val_DiskPercRapberry"></span></p>

  <button class="classButton" id="raspberryReboot">Reboot</button>
  <button class="classButton" id="raspberryShutdown">Shutdown</button>

{% endblock %}